:root{
  --theme:'#2563eb';
  --bg-color:'#eeeeee';
  --radius-sm: 4px;
  --radius: 8px;
  --radius-lg: 16px;
}
*::before,
*::after { box-sizing: border-box; }

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: calc(100vw / 19.2);
}
a { color: inherit; text-decoration: none; cursor: pointer; }
img,svg{ display: block; }

/* Webkit-based */
.scrollbar-thin::-webkit-scrollbar { height: 10px; width: 10px; }
.scrollbar-thin::-webkit-scrollbar-track { background: transparent; }
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 999px;
  border: 2px solid transparent; /* 留出间隙 */
  background-clip: padding-box;
}
.scrollbar-dark::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.3); }
.scrollbar-light::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.4); }

/* Firefox */
.scrollbar-thin { scrollbar-width: thin; scrollbar-color: rgba(0,0,0,0.2) transparent; }

.flex-sb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-sa{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-fs{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-ct{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 文本溢出 */
.truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.text-c { text-align: center !important; }
.text-l { text-align: left !important; }

.round-sm { border-radius: var(--radius-sm) !important; }
.round { border-radius: var(--radius) !important; }
.round-lg { border-radius: var(--radius-lg) !important; }

.base-box{
  position: relative;
  box-sizing: border-box;
}

.f24{
  font-size: 0.24rem;
}

.f30{
  font-size: 0.3rem;
}
