:root{
  --theme: #5B9BFF;
  --text-p: #9199A0;
  --text-t: #464660;
  --text-d: #606970;
  --bg-color: #E3EDF6;
  --radius-sm: 4px;
  --radius: 8px;
  --radius-lg: 16px;
}
*::before,
*::after { box-sizing: border-box; }

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: calc(100vh / 10.8);
  font-family: 
    'Inter',
    'SourceHanSans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  font-feature-settings: 'liga' 1, 'kern' 1;
}
a { color: inherit; text-decoration: none; cursor: pointer;}
img,svg,button,input{ display: block !important; }

/* Webkit-based */
.scrollbar-thin::-webkit-scrollbar { height: 10px; width: 10px;}
.scrollbar-thin::-webkit-scrollbar-track { background: transparent;}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 999px;
  border: 2px solid transparent; /* 留出间隙 */
  background-clip: padding-box;
}
.scrollbar-dark::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.3); }
.scrollbar-light::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.4); }

/* Firefox */
.scrollbar-thin { scrollbar-width: thin; scrollbar-color: rgba(0,0,0,0.2) transparent; }

.flex-sb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-sa{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-fs{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-fe{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-ct{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 文本溢出 */
.truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.text-c { text-align: center !important; }
.text-l { text-align: left !important; }
.text-r { text-align: right !important; }

.round-sm { border-radius: var(--radius-sm) !important; }
.round { border-radius: var(--radius) !important; }
.round-lg { border-radius: var(--radius-lg) !important; }

.base-box{
  position: relative;
  box-sizing: border-box;
}

.bg-box{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fw-300{
  font-weight: 300;
}
.fw-500{
  font-weight: 500;
}
.fw-700{
  font-weight: 700;
}
.cu{
  cursor: pointer;
  user-select: none;
}

.f10{
  font-size: 0.10rem;
}
.f12{
  font-size: 0.12rem;
}

.f14{
  font-size: 0.14rem;
}

.f16{
  font-size: 0.16rem;
}
.f18{
  font-size: 0.18rem;
}

.f20{
  font-size: 0.2rem;
}

.f24{
  font-size: 0.24rem;
}
.f26{
  font-size: 0.26rem;
}
.f28{
  font-size: 0.28rem;
}
.f30{
  font-size: 0.3rem;
}

.f32{
  font-size: 0.32rem;
}
.f34{
  font-size: 0.34rem;
}
.f36{
  font-size: 0.36rem;
}
.f40{
  font-size: 0.4rem;
}
.f76{
  font-size: 0.76rem;
}
.el-message{
  font-size: 0.24rem !important;
}

@font-face {
  font-family: 'SourceHanSans';
  font-weight: 300;
  src: url('@/assets/fonts/source-han-sans/SourceHanSansCN-Normal.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SourceHanSans';
  font-weight: 500;
  src: url('@/assets/fonts/source-han-sans/SourceHanSansCN-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SourceHanSans';
  font-weight: 700;
  src: url('@/assets/fonts/source-han-sans/SourceHanSansCN-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  src: url('@/assets/fonts/inter/Inter-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('@/assets/fonts/inter/Inter-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('@/assets/fonts/inter/Inter-Bold.woff2') format('woff2');
  font-display: swap;
}